<script language="javascript" type="text/javascript">
        setTimeout("location.reload();",60000);
</script>
<p id="notice"><%= notice %></p>

<h1>¡Ruleta!</h1>
<br>

<table class="table text-center mb-3" id="reload">
    <thead>
    <tr>
        <th>Jugadores</th>
        <th>Apuesta Jugador</th>
        <th>Apuesta Monetaria</th>
        <th>Dinero Inicial</th>
        <th>Ingreso/Egreso</th>
        <th>Dinero Final</th>
        <th>Resultado</th>
    </tr>
    </thead>

    <tbody>
        <% @games.each do |key, roulette| %>
            <tr><td colspan="8">Juego <%= roulette.last.game %> | Resultado Ruleta: <%= roulette.last.result %></td></tr>
            <% roulette.each do |player| %>
                <tr style= "background-color: #f2f2f2;">
                    <td><%= player.name %></td>
                    <% if player.result.to_s == "green" && player.bet.to_s == "green" %>
                        <td><%= player.bet %></td>
                        <td><%= player.wager%></td>
                        <td><%= player.money - 15*player.wager %></td>
                        <td>+<%= 15 * player.wager %></td>
                        <td><%= player.money %></td>
                        <td>Gana x15!</td>
                    <% elsif player.result.to_s == player.bet.to_s %>                        
                        <td><%= player.bet %></td>
                        <td><%= player.wager %></td>
                        <td><%= player.money - 2*player.wager %></td>
                        <td>+<%= 2 * player.wager %></td>
                        <td><%= player.money%></td>
                        <td> Gana x2!</td>
                    <% else %>
                        <td><%= player.bet %></td>
                        <td><%= player.wager %></td>
                        <td><%= player.money + player.wager %></td>
                        <td>-<%=player.wager%> </td>
                        <td><%= player.money %></td>
                        <td> Pierde! </td>
                    <% end %>
                </tr>
            <% end %>
            
        <% end%> 
    </tbody>
</table>

<div class="mb-4"><%= link_to 'Nuevo jugador', new_player_path, class:"btn btn-info" %></div>


