<p id="notice"><%= notice %></p>

<h1> Jugadores </h1>
<hr>

  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        
        
      </tr>
    </thead>
  
    <tbody>
        <% @players.each do |player|%>
          <tr>
          <td><%= player.name %></td>
          <td colspan="1"> </td>
          <td><%= link_to 'Detalle', player %></td>
          <td><%= link_to 'Editar', edit_player_path(player) %></td>
          <td><%= link_to 'Eliminar', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        
    </tbody>
  </table>
<br>
<%= link_to 'Nuevo jugador', new_player_path, class:"btn btn-info" %>

